
$color1: #68a2ce;
$color2: #2a8ca5;
$color3:#81c3d7;
$color4: black;
$color5: white;
$color6: beige;


h1{
    text-align: center;
    font-size: 50px;
    text-shadow: 5px 5px 5px #353333;
    animation-duration: 2s;
    animation-name: aparecer; 
    animation-delay: 5s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}


@keyframes aparecer {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

.zapatos{
    animation-name:sombra movil;
}
@keyframes sombra movil{
    
}


/*page INDEX*/
.fondobody{
    background-image: linear-gradient(rgb(94, 94, 230), red);
}

.product{
    margin-bottom: 40px;
    margin-left: 20px;
    margin-right: 20px;
    
}

img{
    height: 300px;
    width: 250px;
    border: 20px;
    margin: 15px;
    align-items: center;
    border-radius: 1%;
    
}

body{
    background-color: $color1;
}

/*footer*/

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-transform: capitalize;
    footer{
        align-items: end;
        .container{
            max-width: 1200px;
            margin: 0 auto;
        }
    }
}

@import "_contactos.scss";
@import "_nosotros.scss";
@import "_productos.scss";
@import "_reseñas.scss";
