@charset "UTF-8";
h1 {
  text-align: center;
  font-size: 50px;
  text-shadow: 5px 5px 5px #353333;
  animation-duration: 2s;
  animation-name: aparecer;
  animation-delay: 5s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}

@keyframes aparecer {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/*page INDEX*/
.fondobody {
  background-image: linear-gradient(rgb(94, 94, 230), red);
}

.product {
  margin-bottom: 40px;
  margin-left: 20px;
  margin-right: 20px;
}

img {
  height: 300px;
  width: 250px;
  border: 20px;
  margin: 15px;
  align-items: center;
  border-radius: 1%;
}

/*footer*/
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-transform: capitalize;
}
body footer {
  align-items: end;
}
body footer .container {
  max-width: 1200px;
  margin: 0 auto;
}

/*page contacto*/
h1 {
  font-family: "Averia Sans Libre", sans-serif;
  text-align: center;
  font-size: 50px;
  text-shadow: 5px 5px 5px #a8a4a4;
  animation-duration: 2s;
  animation-name: aparecer;
  animation-delay: 5s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}

@keyframes aparecer {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.form-registro {
  margin-top: 60px;
  width: 60%;
  padding: 20px;
  margin-left: 200px;
  border-radius: 5%;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  align-items: center;
}
.form-registro h4 {
  font-size: 22px;
  margin-bottom: 10px;
}
.form-registro .form-registro p {
  height: 40px;
  text-align: center;
  font-size: 18px;
}
.form-registro .form-registro a {
  color: white;
  text-decoration: underline;
}
.form-registro .form-registro a:hover {
  color: #81c3d7;
  text-decoration: underline;
}

.form-registro .botons {
  width: 100%;
  background: #85a3e2;
  border: 3px solid black;
  padding: 12px;
  color: white;
  margin: 16px 0;
  font-size: 16px;
  border-radius: 10%;
}

.control {
  width: 100%;
  background: #81c3d7;
  padding: 10px;
  margin: 5px;
  border-radius: 16px;
  border: 1px solid #68a2ce;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  border: 3px solid black;
}

h2 {
  text-align: center;
  margin-top: 40px;
  font-size: 30px;
  font-family: "Platypi", serif;
}

/*footer*/
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-transform: capitalize;
}
body footer {
  align-items: end;
}
body footer .container {
  max-width: 1200px;
  margin: 0 auto;
}

/*page NOSOTROS*/
h1 {
  text-align: center;
  font-size: 50px;
  text-shadow: 5px 5px 5px #353333;
  animation-duration: 2s;
  animation-name: aparecer;
  animation-delay: 5s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}

@keyframes aparecer {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
main {
  width: 100%;
  height: 700px;
}
main .call {
  width: 50%;
  height: auto;
  border: 5px solid #81c3d7;
  float: right;
  margin: 50px;
  background-color: rgba(129, 195, 215, 0.5490196078);
  padding: 30px;
}
main .call a {
  width: 20%;
  background: #85a3e2;
  border: none;
  padding: 12px;
  color: white;
  margin: 30px;
  font-size: 16px;
  text-decoration: none;
  border-radius: 7%;
}
main .call p {
  color: black;
  padding: 15px;
  font-size: 20px;
}

.datos {
  padding: 75px;
  width: 75%;
  align-items: center;
  margin: auto;
}

.map-responsive {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: end;
  height: 0;
}

.map-responsive iframe {
  left: 0;
  top: 600px;
  height: 30%;
  width: 100%;
  position: absolute;
}

.parrafo {
  font-size: 25px;
  border: 5px solid black;
  height: 400px;
  padding: 10px;
  background-color: rgba(53, 51, 51, 0.3098039216);
  margin: 20px;
  text-align: center;
}

/*footer*/
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-transform: capitalize;
}
body footer {
  align-items: end;
  margin-top: 90px;
}
body footer .container {
  max-width: 1200px;
  margin: 0 auto;
}

/*footer*/
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-transform: capitalize;
}
body footer {
  align-items: end;
}
body footer .container {
  max-width: 1200px;
  margin: 0 auto;
}

h1 {
  text-align: center;
  font-size: 50px;
  text-shadow: 5px 5px 5px #353333;
  animation-duration: 2s;
  animation-name: aparecer;
  animation-delay: 5s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}

@keyframes aparecer {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/*page reseñas*/
h1 {
  text-align: center;
  font-size: 50px;
  text-shadow: 5px 5px 5px #353333;
  animation-duration: 2s;
  animation-name: aparecer;
  animation-delay: 5s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}

@keyframes aparecer {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.caja-contenedor {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.caja-contenedor .caja {
  background-color: #81c3d7;
  margin: 20px;
  padding: 1rem;
  text-align: center;
  position: relative;
  border: 1rem solid rgba(0, 0, 0, 0.1);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  flex: 1 1 30rem;
  border-radius: 40%;
}
.caja-contenedor .caja .fa-atom {
  position: absolute;
  top: 1rem;
  right: 2rem;
  font-size: 3rem;
  color: var(--limon);
  opacity: 0.3;
}
.caja-contenedor .caja .user {
  padding: 10px;
}
.caja-contenedor .caja .user img {
  border-radius: 80%;
  -o-object-fit: cover;
     object-fit: cover;
  height: 8rem;
  width: 8rem;
  margin-top: 2rem;
}
.caja-contenedor .caja .user h3 {
  color: var(--verde);
  font-size: 2rem;
}
.caja-contenedor .caja .user .stars i {
  color: var(--verde);
  font-size: 1.5rem;
  padding: 1rem 0;
}
.caja-contenedor .caja .user .cometarios {
  color: black;
  font-size: 1.5rem;
  padding: 1rem;
}

/*footer*/
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-transform: capitalize;
}
body footer {
  align-items: end;
}
body footer .container {
  max-width: 1200px;
  margin: 0 auto;
}/*# sourceMappingURL=estilos.css.map */