
$color1: #68a2ce;
$color2: #2a8ca5;
$color3:#81c3d7;
$color4: black;
$color5: white;


/*page INDEX*/

.product{
    margin-bottom: 40px;
    margin-left: 20px;
    margin-right: 20px;
    
}

img{
    height: 300px;
    width: 250px;
    border: 20px;
    margin: 15px;
    align-items: center;
    border-radius: 1%;
    
}

body{
    background-color: $color1;
}

/*footer*/
footer{
    align-items: end;
}

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-transform: capitalize;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}

.footer{
    background-color: #24262b;
    padding: 80px 0;

}

.footer-row{
    display: flex;
    flex-wrap: wrap;

}

.footer-links{
    width: 25%;
    padding: 0 15px;

}

.footer-links h4{
    font-size: 20px;
    color: rgb(236, 236, 236);
    margin-bottom: 25px;
    font-weight: 500;
    border-bottom: 2px sold $color4;
    padding-bottom: 10px;
    display: inline-block;

}

.footer-links ul li a{
    font-size: 18px;
    text-decoration: none;
    color: rgb(188, 236, 236);
    display: block;
    margin-bottom: 15px;
    transition: all .3s ease;
}

.footer-links ul li a:hover{
    color: $color5;
    padding: 6px;
}

@import "_contactos.scss";
@import "_nosotros.scss";
@import "_productos.scss";
@import "_reseñas.scss";
